@charset "UTF-8";

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

h1 {
  margin-top: 150px;
  text-align: center;
}

p {
  margin: 20px 50px;
  text-align: center;
}

p.second {
  position: fixed;
  bottom: 20px;
  left: 50%;
  /* 如果你想让元素居中，可以使用这个 left 属性 */
  transform: translateX(-50%);
  /* 将元素水平居中 */
  color: rgba(255, 255, 255, 0.8);
}

/* 更改超级链接颜色 */
a {
  color: rgb(255, 255, 255);
  opacity: 0.8;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  padding: 30px;
  padding-top: 50px;
  /* background-color: #ffffff; */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 800px;
  height: 150px;
  background-color: rgba(178, 205, 222, 0.5);
  backdrop-filter: blur(10px);
}

/* form.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 800px;
  background-color: rgba(178, 205, 222, 0.5);
  backdrop-filter: blur(10px);
} */

label {
  margin-bottom: 20px;
  /* font-size: 18px; */
  font-weight: bold;
  color: #666666;
  text-align: center;
  padding-right: 60px;
  /* display: inline-block; */
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px 20px;
}


input[type="text"] {
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #333333;
  background-color: #f0f0f0;
  border: none;
  border-radius: 40px;
  text-align: center;
  width: 200px;
}

div {
padding-block: 10px;
}

input[type="text"]:focus {
  border-color: rgb(0, 123, 255);
  outline: none;
  box-shadow: 0 0 5px rgb(0, 123, 255);
}

input[type="button" i] {
  margin-bottom: 15px;
  margin-inline: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
}

input[type="button" i] {
  transition: background-color 0.3s ease;
}

input[type="button" i]:hover {
  background-color: #0069d9;
}


/* 检测更新按钮disabled状态下的样式 */
input[type="button"][disabled],
button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

/* 禁用状态下移除hover效果和禁用图标 */
/* 注释这段好像没对应效果，删除也不影响？ */
/* input[type="button"][disabled]:hover,
button[disabled]:hover {
  background-color: #dddddd;
  color: #333333;
} */

input[type="button"][disabled].downloadBtn,
button[disabled].downloadBtn {
  background-color: #ddd;
  color: #333333;
}

/* 鼠标手型样式 */
button,
input[type="button"],
a {
  cursor: pointer;
}

div.page-bg {
  background-attachment: fixed;
  background-image: url('../images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(0px);
}

input[type="submit"],
input[type="reset"] {
  padding: 10px 20px;
  margin: 20px 0 0;
  font-size: 18px;
  color: #ffffff;
  background-color: #428bca;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #3071a9;
}